Step into the fast pace of innovative IT solutions; use straight forward, 
proven, open source technologies. Tech startups have been using this strategy for years. 
Twitter, Living Social, Facebook, Google, all have proven that commodity hardware, combined with open source technologies, 
yield powerful, solid solutions. 
