
<div class="col-md-4">
  <table class="table table-condensed table-bordered table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @pages.each do |page| %>
        <tr>
          <td><%= page.title %></td>
          <td><%= link_to 'Show', page %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>

  <%= link_to 'New Page', new_page_path %>
</div>

